@import '../../common/styles/variables.scss';

.urls-list {
    &__item {
        list-style-type: none;
        padding: $default-indent;
    }
    
    &__icon {
        padding-right: $default-indent;
    }
}