@import '../../common/styles/variables.scss';

.text-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $default-indent 0;

    &__label {
        margin-bottom: $default-indent;
    }
}